h1 {
  text-align: center;
  margin-top: 1rem;
  text-transform: uppercase;
}
table {
  width: calc(100% - 1rem);
  margin: 1rem;
  .mat-row {
    cursor: pointer;
  }
}
.mat-spinner {
    margin: auto;
}
.demo-button-container {
  padding: 0.5rem 1rem;
}
