<button mat-raised-button (click)="backToCustomerList()" class="demo-button">
  Back
</button>
<div class="customer-detail" *ngIf="!loading; else spinner">
  <div *ngIf="currentCustomer; else noRecord" class="edit-form">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Customer Details</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Name - {{ currentCustomer.name }}</p>
        <p>Email - {{ currentCustomer.email }}</p>
        <p>Phone - {{ currentCustomer.phone }}</p>
        <p>Address - {{ currentCustomer.address }}</p>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<ng-template #noRecord>
  <br />
  <p>No customer available with this record</p>
</ng-template>
<ng-template #spinner>
  <mat-spinner></mat-spinner>
</ng-template>
