.mat-card-header {
    justify-content: center;
}
.mat-card {
  max-width: 500px;
  margin: auto;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  span {
    font-size: 8px;
  }
}
.demo-button {
    margin: 1rem;
}