<button mat-raised-button (click)="backToCustomerList()" class="demo-button">
  Back
</button>
<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>New Customer</mat-card-title>
  </mat-card-header>
  <mat-card-content
    ><div class="container" novalidate>
      <form
        [formGroup]="formGroup"
        (ngSubmit)="onSubmit(formGroup.value)"
        class="form"
      >
        <mat-form-field class="form-element">
          <input matInput placeholder="Name" formControlName="name" />
          <mat-error
            *ngIf="
              !formGroup.controls['name'].valid &&
              formGroup.controls['name'].touched
            "
          >
            {{ required }}
          </mat-error>
        </mat-form-field>
        <mat-form-field class="form-element">
          <input matInput placeholder="Emailaddress" formControlName="email" />
          <mat-error
            *ngIf="
              !formGroup.controls['email'].valid &&
              formGroup.controls['email'].touched
            "
          >
            Please enter valid email(format: 'example@xxx.com')
          </mat-error>
        </mat-form-field>

        <mat-form-field class="form-element">
          <input matInput placeholder="Phone" formControlName="phone" />
          <mat-error
            *ngIf="
              !formGroup.controls['phone'].valid &&
              formGroup.controls['phone'].touched
            "
          >
            Phone should contain atleast 10 digits
          </mat-error>
        </mat-form-field>

        <mat-form-field class="form-element">
          <input matInput placeholder="Address" formControlName="address" />
          <mat-error
            *ngIf="
              !formGroup.controls['address'].valid &&
              formGroup.controls['address'].touched
            "
          >
            {{ required }}
          </mat-error>
        </mat-form-field>

        <div class="form-element">
          <button
            mat-raised-button
            color="primary"
            type="submit"
            class="button"
            [disabled]="!formGroup.valid"
          >
            Submit Form
          </button>
          <mat-spinner *ngIf="loading"></mat-spinner>
        </div>
      </form>
    </div>
  </mat-card-content>
</mat-card>
